<div class="center-block form-width-default">
	<h1 class="text-center">Login</h1>
  <%= form_for(:sessions, url: sessions_path, html: { class: "form-horizontal" }) do |f| %>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-envelope"></span>
      </span>
      <%= f.text_field :email, class: "form-control", placeholder: :email %>
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-lock"></span>
      </span>
      <%= f.password_field :password, class: "form-control", placeholder: :password %>
    </div>
    <%= f.submit "Sign in", class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
</div>