<% provide(:title, 'Project members list') %>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="page-header">
      <h1 class="text-center">Members list</h1>
    </div>
		<%= render partial: "users/user_list", locals: {instance: @members} %>

	  




  </div>
</div>