/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 */


@import "bootstrap-sprockets.scss";
@import "bootstrap-variables.scss";
@import "bootstrap.scss";
@import "bootstrap_and_overrides.scss";
@import "sessions.scss";
@import "projects.scss";
@import "tasks.scss";

body { padding-top: 50px; }

.breadcrumb{
  margin-bottom: 0px;
}
 h1 {
   margin: 0 10px;
   line-height: 0.85;
 }
.debug{
  margin-top: 10px;
  width: $width-500px;
}

/* FORM STYLE */
.form-width-default {
  width: 320px;
}

.width-250 {
  width: $width-100px
}
.width-500 {
  width: $width-500px;
}

thead{
  font-weight: bold;
}

.alert-warning{ margin-top: 25px}

/* HEADER */
.navbar-default .navbar-nav > li > a {
  font-size: $font-size-large;
  color: #3b4f77;
}
.navbar-default .navbar-brand{
  font-size: $font-size-h4;
  font-weight: bold;
  color: #ac3f32;
}
.header-profile{
  margin-right : $margin-15px;
}
  /* FOOTER */
#footer{
  margin: $margin-15px;
  font-size: $font-size-h4;
}

