<% cache do %>
<div id="footer">
  <div class="text-center">
    <a href="http://www.brightgrove.com">
      <span class="bold">Brightgrove</span>
      <%= Time.now.year %><span> ©</span>
    </a>
  </div>
</div>
<% end %>